@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

body {
    font-family: "Nanum Gothic", sans-serif;
}

/* Reset code */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}
